@use "../global/global";

.information {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.information__tabs-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.information__tabs-item {
  position: relative;
  width: 292px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.information__tabs-item:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 91px;
  width: 34px;
  height: 33px;
  background-image: url("../../image/vault.svg");
  background-repeat: no-repeat;
}

.information__tabs-item:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 86px;
  width: 34px;
  height: 30px;
  background-image: url("../../image/cards.svg");
  background-repeat: no-repeat;
}

.information__tabs-item:nth-child(3)::before {
  position: absolute;
  content: "";
  top: 29px;
  left: 73px;
  width: 28px;
  height: 34px;
  background-image: url("../../image/security.svg");
  background-repeat: no-repeat;
}

.information__tabs-item:nth-child(4)::before {
  position: absolute;
  content: "";
  top: 29px;
  left: 59px;
  width: 20px;
  height: 34px;
  background-image: url("../../image/phone-tab.svg");
  background-repeat: no-repeat;
}

.information__tabs-item--active {
  background: #F6F7FF;
  border-radius: 4px 4px 0px 0px;
}

.information__tabs-text {
  color: var(--text-classic);
  text-decoration: none;
  margin-left: 38px;
}

.information__wrapper {
  background: #F6F7FF;
  padding: 54px 135px 60px 70px;
}

.information__case {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information__centering {
  width: 391px;
}

.information__header {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 26px;
}

.information__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-image: url("../../image/Vector.svg");
  margin-left: 20px;
  margin-bottom: 20px;
}

.information__item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.information__image-wrapper {
  margin-top: 6px;
}

.information__button {
  border: none;
  background-color: var(--button-color);
  width: 198px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-button);
}