:root {
  --classic-black: #000000;
  --text-classic:#1F1E25;
  --text-opacity:#707C87;
  --text-button:#F6F7FF;
  --text-opasity-2: #E0E1EA;
  --button-color: #2C36F2;
}

main {
  display: flex;
  flex-direction: column;
}

.page__body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  height: 100%;
  padding: 0;
  margin: 0;
}

.page__main {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}