/*!**************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js!./node_modules/sass-loader/dist/cjs.js!./project/public/style/main.scss ***!
  \**************************************************************************************************************************************************************************************************************/
:root {
  --classic-black: #000000;
  --text-classic:#1F1E25;
  --text-opacity:#707C87;
  --text-button:#F6F7FF;
  --text-opasity-2: #E0E1EA;
  --button-color: #2C36F2;
  --button-dot: #2028B6;
  --color-label: #394959;
  --color-bottom: #C4C4C4;
  --custom-border: #C1C2CA;
}

main {
  display: flex;
  flex-direction: column;
}

.page__body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  height: 100%;
  padding: 0;
  margin: 0;
}

h2, h3 {
  margin: 0;
}

.page__main {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #F6F7FF;
  background-color: var(--text-button);
}

.header-case {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
  padding-bottom: 34px;
}

.header-logo__tagline {
  width: 150px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  width: 684px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item {
  margin-right: 24px;
  font-size: 16px;
  line-height: 19px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a,
.header__login-link {
  text-decoration: none;
  color: #1F1E25;
}

.header__nav-item a:hover {
  color: #2C36F2;
}

.header__login-link {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 210px;
  margin-left: 10px;
}

.header__login-link::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 22px;
  top: -3px;
  left: 6px;
  background-image: url(877a13e50c108b66b0ba.svg);
}

.banner {
  min-height: 400px;
  background-color: #2C36F2;
  background-color: var(--button-color);
  margin-bottom: 61px;
  background-image: url(b6e96f6542ebc6d92643.png);
}

.banner__gradient {
  min-height: 400px;
  background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%);
}

.banner__wrapper {
  position: relative;
  max-width: 1066px;
  margin: 0 auto;
  min-height: 400px;
  background-image: url(b6e96f6542ebc6d92643.png);
  background-repeat: no-repeat;
}

.banner__wrapper::before {
  content: "";
  position: absolute;
  width: 444px;
  height: 286px;
  top: 62px;
  right: 74px;
  background-image: url(db60a81d2218f9770944.png);
  background-repeat: no-repeat;
}

.banner__description {
  width: 450px;
  padding-top: 103px;
  margin-left: 118px;
}

.banner__header {
  margin: 0;
  padding: 0;
  font-size: 54px;
  line-height: 63px;
  font-weight: 700;
  color: #F6F7FF;
  color: var(--text-button);
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #E0E1EA;
  color: var(--text-opasity-2);
  margin-top: 8px;
}

.banner__button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: #F6F7FF;
  background-color: var(--text-button);
  padding: 15px 36px 17px 36px;
  border-radius: 4px;
  margin-top: 34px;
  margin-bottom: 34px;
}

.banner__button-text {
  color: #1F1E25;
  color: var(--text-classic);
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.banner__container-dot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 36px;
  position: absolute;
  top: 443px;
  left: 49%;
}

.banner__dot {
  width: 8px;
  height: 8px;
  background-color: #F6F7FF;
  background-color: var(--text-button);
  border-radius: 50%;
}

.banner__dot-active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2028B6;
  background-color: var(--button-dot);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), url(fonts/fc0337b9cf1cce2e6e1e.woff2) format("woff2"), url(fonts/7429a63c09f79a1760b0.ttf) format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url(fonts/6cd35edfbc0d7a417131.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(fonts/a25806274237d06e00a6.woff2) format("woff2");
}
.footer-description {
  padding: 49px 0;
  background-color: #F6F7FF;
  background-color: var(--text-button);
}

.footer-description__wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.adress {
  width: 253px;
  margin-right: 80px;
}

.adress__text {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #707C87;
  color: var(--text-opacity);
}

.services {
  width: 222px;
  margin-right: 31px;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.services__item {
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 8px;
}

.services__item a {
  text-decoration: none;
  color: #1F1E25;
  color: var(--text-classic);
}

.mobile {
  width: 168px;
  margin-top: 9px;
  margin-right: 112px;
}

.mobile__code {
  position: relative;
  line-height: 23px;
}

.mobile__code::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 16px;
  top: 1px;
  left: -29px;
  background-image: url(4d4c8c6483aa7833e46c.svg);
  background-repeat: no-repeat;
}

.mobile__description {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #707C87;
  color: var(--text-opacity);
  margin-top: 1px;
}

.contacts {
  width: 123px;
  margin-top: 9px;
  margin-right: 39px;
}

.contacts__mobile {
  position: relative;
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  color: #1F1E25;
  color: var(--text-classic);
  font-weight: 500;
}

.contacts__mobile::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1px;
  left: -33px;
  background-image: url(9fd53784a8e87c86eefd.svg);
  background-repeat: no-repeat;
}

.contacts__description {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #1F1E25;
  color: var(--text-classic);
  margin: 0;
}

.social {
  width: 142px;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-left: 37px;
}

.social__item {
  margin-right: 16px;
}

.social__item:last-child {
  margin-right: 0;
}

.information {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.information__tabs-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.information__tabs-item {
  position: relative;
  width: 292px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.information__tabs-item:nth-child(1)::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 91px;
  width: 34px;
  height: 33px;
  background-image: url(eebb8ad5d41cb1753571.svg);
  background-repeat: no-repeat;
}

.information__tabs-item:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 86px;
  width: 34px;
  height: 30px;
  background-image: url(86419587f5aca22381f4.svg);
  background-repeat: no-repeat;
}

.information__tabs-item:nth-child(3)::before {
  position: absolute;
  content: "";
  top: 29px;
  left: 73px;
  width: 28px;
  height: 34px;
  background-image: url(37bbd855d3c44d7c2583.svg);
  background-repeat: no-repeat;
}

.information__tabs-item:nth-child(4)::before {
  position: absolute;
  content: "";
  top: 29px;
  left: 59px;
  width: 20px;
  height: 34px;
  background-image: url(a0fb8f66502334f29c16.svg);
  background-repeat: no-repeat;
}

.information__tabs-item--active {
  background: #F6F7FF;
  border-radius: 4px 4px 0px 0px;
}

.information__tabs-text {
  color: #1F1E25;
  color: var(--text-classic);
  text-decoration: none;
  margin-left: 38px;
}

.information__wrapper {
  background: #F6F7FF;
  padding: 54px 135px 60px 70px;
}

.information__case {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information__centering {
  width: 391px;
}

.information__header {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 26px;
}

.information__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-image: url(37c8108b7222af52143e.svg);
  margin-left: 20px;
  margin-bottom: 20px;
}

.information__item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.information__image-wrapper {
  margin-top: 6px;
}

.information__button {
  border: none;
  background-color: #2C36F2;
  background-color: var(--button-color);
  width: 198px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F6F7FF;
  color: var(--text-button);
}

.calc {
  margin-bottom: 110px;
}

.calc__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px calc(50% - 585px);
  margin-bottom: 20px;
}

.calc__header {
  font-size: 41px;
  line-height: 57px;
  font-weight: 700;
  margin-top: 33px;
  margin-bottom: 48px;
}

.calc__step {
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
  margin-bottom: 20px;
}

.calc__step-header {
  margin-bottom: 25px;
}

.calc__steb-item {
  margin: 0;
}

.calc__select {
  width: 600px;
  height: 60px;
  margin-bottom: 33px;
}

.calc__label {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
  color: var(--color-label);
  margin-bottom: 8px;
}

.calc__input {
  display: block;
  width: 592px;
  height: 55px;
  margin-bottom: 4px;
}

.calc__range::-webkit-slider-runnable-track {
  height: 1px;
  border: 1px solid #C1C2CA;
}

.calc__range::-webkit-slider-thumb {
  background-color: #2C36F2;
  background-color: var(--button-color);
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -7px;
}

.calc__text {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #394959;
  color: var(--color-label);
  margin-bottom: 17px;
}

.calc__offer {
  width: 403px;
  height: 280px;
  background: #F6F7FF;
  background: var(--text-button);
  border-radius: 4px;
  padding: 53px 39px 56px 60px;
  margin-top: 145px;
}

.calc__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7px;
}

.calc__item {
  width: 177px;
  margin-bottom: 28px;
}

.calc__text-item {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.calc__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #F6F7FF;
  color: var(--text-button);
  background-color: #2C36F2;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  width: 95%;
  height: 51px;
}

.registration {
  padding: 0 calc(50% - 385px);
}

.registration__wrapper {
  padding: 66px 70px;
  background: #F6F7FF;
  background: var(--text-button);
  border-radius: 4px;
}

.registration__header {
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
  margin-bottom: 23px;
  text-align: center;
}

.registration__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.registration__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #C4C4C4;
  border-bottom: 1px solid var(--color-bottom);
  padding-bottom: 11px;
  margin-bottom: 12px;
}

.registration__text {
  font-size: 16px;
  line-height: 22px;
  color: #394959;
  color: var(--color-label);
}

.registration__text-cell {
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
  color: #1F1E25;
  color: var(--text-classic);
}

.registration__name {
  width: 99%;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #0A1E32;
  margin-bottom: 30px;
}

.registration__case {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.registration__phohe,
.registration__email {
  width: 47%;
  border-radius: 4px;
  height: 56px;
  border: 1px solid #0A1E32;
}

.registration__button-case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.registration__button {
  cursor: pointer;
  border: none;
  color: #F6F7FF;
  color: var(--text-button);
  background: #2C36F2;
  background: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.dropdown {
  width: 600px;
  height: 60px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 120px;
}

.dropdown .dropdown-btn {
  padding: 22px;
  border: 1px solid #1F1E25;
  border: 1px solid var(--text-classic);
  border-radius: 4px;
  font-weight: 500;
  color: #1F1E25;
  color: var(--text-classic);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 106%;
  border: 1px solid #1F1E25;
  border: 1px solid var(--text-classic);
  border-radius: 4px;
  font-weight: 500;
  color: #1F1E25;
  color: var(--text-classic);
  width: 598px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 19px 0 19px 0;
  margin-left: 23px;
  cursor: pointer;
  border-bottom: 1px solid #C1C2CA;
  border-bottom: 1px solid var(--custom-border);
}

.dropdown .dropdown-content .dropdown-item:last-child {
  border: none;
}

/*# sourceMappingURL=main.css.map*/