@use "../global/global";

.dropdown {
  width: 600px;
  min-height: 60px;
  position: relative;
  user-select: none;
  border: 1px solid var(--text-classic);
  border-radius: 4px;
}

.dropdown .dropdown-btn {
  padding: 22px;
  font-weight: 500;
  color: var(--text-classic);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.dropdown__icon-active img {
  transform: rotate(180deg);
}

.dropdown .dropdown-content {
  font-weight: 500;
  color: var(--text-classic);
  width: 600px;
}

.dropdown .dropdown-item:first-child {
  border-top: 1px solid var(--text-classic);
}

.dropdown .dropdown-content .dropdown-item {
  padding: 19px 0 19px 0;
  cursor: pointer;
  border-bottom: 1px solid var(--custom-border);
}

.dropdown__text {
  margin-left: 23px;
}

.dropdown .dropdown-content .dropdown-item:last-child {
  border: none;
}