@use "../global/global";

.dropdown {
  width: 600px;
  height: 60px;
  position: relative;
  user-select: none;
  margin-bottom: 120px;
}

.dropdown .dropdown-btn {
  padding: 22px;
  border: 1px solid var(--text-classic);
  border-radius: 4px;
  font-weight: 500;
  color: var(--text-classic);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 106%;
  border: 1px solid var(--text-classic);
  border-radius: 4px;
  font-weight: 500;
  color: var(--text-classic);
  width: 598px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 19px 0 19px 0;
  margin-left: 23px;
  cursor: pointer;
  border-bottom: 1px solid var(--custom-border);
}

.dropdown .dropdown-content .dropdown-item:last-child {
  border: none;
}