@use '../global/global';

.calc {
  margin-bottom: 110px;
}

.calc__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px calc(50% - 585px);
  margin-bottom: 20px;
}

.calc__header {
  font-size: 41px;
  line-height: 57px;
  font-weight: 700;
  margin-top: 33px;
  margin-bottom: 48px;
}

.calc__step {
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;
  margin-bottom: 20px;
}

.calc__step-header {
  margin-bottom: 25px;
}

.calc__steb-item {
  margin: 0;
}

.calc__select {
  width: 600px;
  height: 60px;
  margin-bottom: 33px;
}

.calc__label {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-label);
  margin-bottom: 8px;
}

.calc__input {
  display: block;
  width: 592px;
  height: 55px;
  margin-bottom: 4px;
}

.calc__range::-webkit-slider-runnable-track {
  height: 1px;
  border: 1px solid #C1C2CA;
}

.calc__range::-webkit-slider-thumb {
  background-color: var(--button-color);
  cursor: pointer;
  width:15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -7px;
}

.calc__text {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-label);
  margin-bottom: 17px;
}

.calc__offer {
  width: 403px;
  height: 280px;
  background: var(--text-button);
  border-radius: 4px;
  padding: 53px 39px 56px 60px;
  margin-top: 145px;
}

.calc__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7px;
}

.calc__item {
  width: 177px;
  margin-bottom: 28px;
}

.calc__text-item {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.calc__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-button);
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  width: 95%;
  height: 51px;
}